<!DOCTYPE html>
<html lang="en" style="font-size: 18px;">
    <head>
        {% include "head.njk" %}
        {% if site.env %}
            <!-- Capture the CSS content as a Nunjucks variable -->
            {% set css %}{% include "styles.min.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="/static/styles.min.css">
        {% endif %}

        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

        <!-- Try and serve Google Fonts in the most efficent way possible -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet" type="text/css"/>
        </noscript>
    </head>
    <body>
        {% include "navigation.njk" %}
        <div class="">
          {{ content | safe }}
          {% include "footer.njk" %}
        </div>

    </body>

    <script src="/static/app.min.js" defer></script>
    <script defer data-domain="chinnno15.github.io" src="https://plausible.io/js/script.js"></script>
</html>