---
layout: "base.njk"
---

<div style="background-color: {{ backgroundColor }};" class="mx-auto">
  <figure class="max-w-[60rem] mx-auto">
    <picture class="mx-auto">
      <img src="{{ page.url | url }}{{ cover }}" width="960" height="582" alt="NFORS Exposure App" loading="lazy"
           decoding="async">
    </picture>
  </figure>
</div>
<main id="post" class="max-w-[60rem] space-y-[4rem] mt-[2rem] mx-auto sm:px-[2rem]">
  <div class="pb-[1em]">
    <h1 class="float-left font-bold">{{ title }}</h1>
    <time class="float-right pt-[0.3rem]" datetime="{{ startDate | year }}">{{ startDate | year }} - {{ endDate | year
      }}
    </time>
  </div>
  <div class="space-y-[1rem]">
    {{ content | safe }}
  </div>
</main>


