@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';

/*h1 {*/
/*	font-size: 1.5em;*/
/*	font-weight: bold;*/
/*}*/

/*.lead {*/
/*	line-height: 1.05;*/
/*	padding-top: 20vmin;*/
/*	padding-bottom: 10vmin;*/
/*}*/

#post a {
	@apply highlight;
}

#post ul {
	@apply list-disc ml-[1rem];
}

#post h1 {
	@apply font-bold;
}

#post figure {
	@apply mt-[2em] mb-[2em];
}

#post figcaption {
	@apply mt-[2em];
}

.socials svg{
	@apply h-[2rem] w-[2rem];
}

.highlight {
	color: inherit;
	overflow: visible;
	background: linear-gradient(to right, #28E1BD, #28E1BD);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 300% 40%;
	text-decoration: none;
	transition: all 165ms ease-in-out;
}
.highlight:hover {
	background-size: 300% 90%;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.fade-in {
	-webkit-animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
