---
layout: base.njk
title: Jose Oliveros
description:
---

<main id="main" class="p-6 md:p-12 lg:p-16 border-t-8 border-gray-200">
  <h1 class="lead fade-in-bottom" id="about">I'm Jose <span class="sr-only">Oliveros</span> — a <mark>Fullstack Engineer</mark> based in the Mexico.</h1>
  <div class="fade-in-bottom delay-300">
    <p>I am a Full Stack and React Native Engineer with 12 years of experience in developing high-quality applications. I excel in React, React Native, Node, and Python, and have experience leading Agile teams in a remote environment.</p>
  </div>
  <p>




  </p>
    <div class="max-w-xl">
        <footer class="text-xs text-gray-500 mt-12 border-t border-gray-100 pt-6">
            <p>Proudly crafted by <a href="https://joliveros.com">Jose Oliveros</a>
            </p>
        </footer>
    </div>
</main>